

@media screen and (max-width: 768px) {

    /* theme button  */
    
.theme-btn{
        width: 30px;
        height: 30px;
    } 
    
    /* home contents  */
    
    .home-content{
        grid-template-columns: 1fr;
    }
    
    /* portfolios  */
    
    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
    /* contacts  */
    
    .contact-content-container {
        
    }
    
    /* sections  */
    
    .section{
        padding: 2rem 2.5rem;
    }
    
    .main-title h2 {
        font-size: 2rem;
    }
    
    .main-title .h2 span {
        font-size: 3rem;
    }
    
    /* the controls */
    
.controlls {
    
top: auto;
bottom: 0;
flex-direction: row;
justify-content: center;
left: 50%;
transform: translateX(-50%);
width: 100%;
background-color: var(--color-grey);
    
}
    
.controlls .control {
margin: 1rem .6rem;
    }
}

/* media query at max width of 870px fro about content section  */

@media screen and (max-width: 870px) {
    about {
padding: 0;
}
    .about-container{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    
    .right-about{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }
    .right-about .name{
        font-size: 1.5rem !important;
        padding-left: 1rem;
    }
    
    .about-container .left-about .image{
        margin: 0 auto;
        width: 70;
    }
    
}

/*  media query at max width of 500px for contacts item */

@media screen and (max-width: 500px){
    .contact-item{
display: grid;
    }
}

